.loadingbar {
    text-align: center;
  }
img {
    float: right;
    padding-right: 1em;
  }

.content img{
  width: 2em;
  }

body.loading {
    overflow: hidden;
  }

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    top: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-left: none;
    
  }
  
  .header h2 {
    text-align: center;
  }
  
  .progress-container {
    width: 70%;
    height: 50px;
    background: #ccc;
    margin: 0 auto;
    
  }
  
  .progress-bar {
    height: 50px;
    background: black;
    width:0%;
  }
  
  .content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
  }

  .about {
    padding-bottom: 50px;
    margin: 50px auto 0 auto;
    width: 80%;
  }


  .topnav {
  overflow: hidden;
  position: relative;
  z-index: 10000;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  float: right;
}


/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: black;
  text-decoration: line-through;
}

/* Style the active link (or home/logo) */
.active {
  
  color: white;
}

button {
  background-color: black;
  color: white;
  position: relative;
  height: 50px;
  width: 150px;
  position: relative;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .progress-container {
    padding-left: none;
  }
}

